.time {
    font-size: 30px;
    display: inline-block;
}
.title {
    display: inline-block;
}


img {
    display: block;
    margin: auto;
}

body{
    background-image: url("../images/fondopantalla.jpg");
    margin-top: 50px;
}
canvas {
    background-image: url("../images/fondo.jpg");
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px solid;
}
span {
    border: 1px solid;
    margin-left: 0;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
   font-size: 30px;
   color: #ffffff;
}
#time {
    color: ffffff;
    font-size: 50px; 
    border: 1px solid;
  }
  